{% extends "base.html" %}
{% block content %}
<div class="px-4 py-6">
	<div class="container mx-auto my-60 flex px-5 py-24 flex-col items-center">
		<div class="items-center text-center">
			<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{ details.title }}</h1>
			<p class="mb-8 text-xl leading-relaxed">{{ details.message }}</p>
			<button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">
				<a href="/">Върнете се към главната страница</a>
			</button>
		</div>
	</div>
</div>
{% endblock content %}