<footer class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded shadow-lg">
	<div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
		<a href="/" class="flex items-center">
			<img src="{{ url_for('static', filename='images/logo-display.svg') }}" alt="Logo">
			<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">ВКУСНО</span>
		</a>
		<p class="text-sm font-bold text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
			Използвано API — <a href="https://spoonacular.com/food-api" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">Spoonacular</a>
		</p>
	</div>
</footer>