{% extends "base.html" %}
{% block content %}
<div class="px-4 py-6">
	<div class="container mx-auto flex flex-col lg:flex-row items-center gap-12 mt-10">
		<div class="flex flex-1 flex-col items-center lg:items-start overflow-hidden">
			<h2 class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-green-500 font-bold text-3xl md:text-4 lg:text-6xl text-center lg:text-center mb-2 py-2 slideUp">
				Учете! Гответе! Споделяйте!
			</h2>
			<div class="overflow-hidden">
				<p class="font-thin text-xl md:text-3xl text-center lg:text-left slideUp">
					Сбогувайте се с дългите и разочароващи
				</p>
				<p class="font-thin text-xl md:text-3xl text-center lg:text-left slideUp">
					блогове за храна и видеоклипове с рецепти.
				</p>
				<p class="font-thin text-xl md:text-3xl text-center lg:text-left slideUp">
					Приготвяйте всяко ястие за минути с нашите предложения.
				</p>
			</div>
			<div class="flex mx-auto md:mx-40 mt-6 justify-center flex-wrap gap-6">
				<a href="{{ url_for('dishes.search') }}">
					<button type="button" class="bg-blue-600 hover:bg-blue-700 text-white text-xl font-regular py-2 px-4 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">Търсене на ястия</button>
				</a>
			</div>
		</div>
		<div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
			<img class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full fadeInRotate" src="{{ url_for('static', filename='images/hero-dish.png') }}">
		</div>
	</div>

	<div class="grid sm:grid-cols-2 grid-cols-1  mb-14 mx-3">
		<div class="border-b-4 sm:border-b-0 sm:border-r-4 border-blue-600">
			<div class="text-xl text-center font-bold leading-none text-gray-900 sm:text-2xl">
				Топ 15 най-харесвани рецепти
			</div>
			<div id="likesChart" class="py-5"></div>
		</div>

		<div>
			<div class="text-xl text-center font-bold leading-none text-gray-900 sm:text-2xl">
				Най-срещани продукти за всички рецепти
			</div>
			<div id="ingredientsChart" class="py-5"></div>
		</div>
	</div>
	
	<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</div>
{% endblock content %}